@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* =========================================
   GLOBAL VARIABLES
========================================= */

:root {
  --bg-primary: #020403;
  --bg-secondary: #080a09;

  --text-primary: #ffffff;
  --text-secondary: #d8d8d8;
  --text-muted: #8f9491;

  --accent: #f4b800;
  --accent-dark: #8d6900;

  --border: rgba(255, 255, 255, 0.08);

  --font-primary: "Poppins", sans-serif;

  font-family: var(--font-primary);
  color: var(--text-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================================
   GLOBAL RESET
========================================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;

  margin: 0;

  font-family: var(--font-primary);

  background: var(--bg-primary);
  color: var(--text-primary);

  overflow-x: hidden;
}

/* =========================================
   REACT ROOT
========================================= */

#root {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

/* =========================================
   COMMON ELEMENTS
========================================= */

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  outline: none;
}

img,
picture,
svg {
  max-width: 100%;
}

img {
  display: block;
}

/* =========================================
   TYPOGRAPHY
========================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-family: var(--font-primary);

  color: var(--text-primary);

  font-weight: 600;
}

p {
  margin: 0;

  color: var(--text-secondary);
}

/* =========================================
   SECTIONS
========================================= */

section {
  width: 100%;
  scroll-margin-top: 80px;
}

/* =========================================
   TEXT SELECTION
========================================= */

::selection {
  background: var(--accent);
  color: #000000;
}

/* =========================================
   SCROLLBAR
========================================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background: #343434;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 768px) {
  section {
    scroll-margin-top: 70px;
  }
}